/*Body*/
body {
  margin: 0;
  padding: 0;
  background: #E5E5E5;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;

  background: #ffffff;
}

/* Header */
.header {
  position: relative;
}

.header__inner {
  position: absolute;
  width: 1440px;
  height: 90px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  gap: 42px;

  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 120px;
}

.img {
  width: 30px;
  height: 30px;
}

.logo__text {
  font-family: "Magra";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;

  color: #ffffff;
  margin-left: 6px;
}

.nav {
  font-family: "Red Hat Text";
  font-weight: 550;
  text-transform: capitalize;
}

.nav__link {
  margin-right: 42px;

  color: #ffffff;
  text-decoration: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 103px;
  height: 41px;
  margin-right: 120px;

  background: #0d606f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;

  cursor: pointer;
}

.btn__link {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  color: #ffffff;
  text-decoration: none;
}

/* Intro */
.intro {
  height: 765px;

  background: url("../images/garrett-parker.png") center no-repeat;
  background-size: cover;
}

.intro__inner {
  position: absolute;

  width: 892px;
  height: 422px;
  margin-top: 122px;
  margin-left: 120px;

  /* background: rgba(242, 120, 92, 0.7); */
}

.intro__title {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  margin: 0;

  color: #ffffff;
}

.intro__text {
  font-family: "Aleo";
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;

  /* border: 1px solid #000000; */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.intro__search {
  display: flex;
  align-items: center;

  width: 892px;
  height: 95px;
  margin-top: 46px;

  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.search input {
  width: 560px;
  height: 22px;
  border: none;
  background: transparent;
  outline: none;
  margin-left: 41px;
  margin-right: 45px;

  font-family: "Aleo";
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #f2785c;
}

::-webkit-input-placeholder {
  color: #f2785c;
}

.search button {
  width: 228px;
  height: 59px;
  left: 766px;
  top: 434px;

  background: #0d606f;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: none;

  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;

  color: #ffffff;

  flex: none;
  order: 0;
  flex-grow: 0;
  text-transform: capitalize;
  cursor: pointer;
}

/* Steps */

.steps {
  width: 1177px;
  height: 247px;
  margin: 0 auto;
}

.steps__text {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 53px;

  color: #f2785c;
  text-align: center;
}

.steps__inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.steps__img {
  width: 100px;
  height: 100px;

  display: flex;
  margin: 0 auto;
  margin-bottom: 30px;
}

.icon__text {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #0d606f;
  text-align: center;
}

/* Destinations */

.destinations {
  position: relative;
  width: 1440px;
  height: 1042px;

  overflow: hidden;
}

.dest__text {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 53px;

  color: #f2785c;
  text-align: center;
}

.dest__inner {
  position: absolute;
  display: flex;
  justify-content: space-between;
  gap: 60px;


  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;

}

.position {
  display: flex;
  flex: 0 0 auto;
}

/* ----------------------------- */
.dest__img-1 {
  position: relative;
  width: 800px;
  height: 800px;
  border-radius: 16px;

  background: url("../images/Rectangle_23.png") center no-repeat;
  background-size: cover;
}

.img__text-1 {
  position: absolute;
  left: 15px;
  bottom: 40px;

  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;

  color: #FFFFFF;
}
/* ----------------------------- */

.dest__img-2 {
  position: relative;
  width: 800px;
  height: 800px;
  border-radius: 16px;

  background: url("../images/Rectangle_24.png") center no-repeat;
  background-size: cover;
}

.img__text-2 {
  position: absolute;
  left: 15px;
  bottom: 40px;

  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;

  color: #FFFFFF;
}
/* ----------------------------- */

.dest__img-3 {
  position: relative;
  width: 800px;
  height: 800px;
  border-radius: 16px;

  background: url("../images/Rectangle_25.png") center no-repeat;
  background-size: cover;
}

.img__text-3 {
  position: absolute;
  left: 15px;
  bottom: 40px;

  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;

  color: #FFFFFF;